body {
    background-color: white;
    font-family: "Roboto", sans-serif;
    color: #212121;
}
/*-- Палитра --*/
/*-- header btn color #212121 --*/
/*-- accent #2196F3 --*/
/*-- feature title color #212121 --*/
/*-- feature text color #757575 --*/
/*-- name member color #212121 --*/
/*-- career member color #757575 --*/

.list {
    list-style: none;
    // text-decoration: none;
}
