:root {
    --hero-btntxt-color: #ffffff;
    --hero-btnbkg-color: #2196f3;
    --button-color: #212121;
    --accent-color: #2196f3;
    --title-color: #212121;
    --text-color: #757575;
    --img-title-color: #212121;
    --team-background: #f5f4fa;
    --team-item-background: #ffffff;
    --border-item-color: #201212;
}
